@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IBMPlexMono Regular";
  src: url(/fonts/IBMPlexMono/IBMPlexMono-Regular.ttf) format("ttf");
  font-style: normal;
  font-weight: 400;
  font-display: optional;
}
